.home-intro-content .btn:hover {
	background:#1A7D90;
}
@media (min-width:30em) {
	.our-people .wrapper,
	.project-listing {
		text-align: center;
	}
	.person,
	.project {
		display: inline-block;
		vertical-align: top;
	}
}