/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Viewport
// ========================================================================== */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* Breakpoints
// ========================================================================== */
/* 320px */
/* 480px */
/* 600px */
/* 768px */
/* 960px */
/* 1100px */
/* Typography 
// ========================================================================== */
/*
	font-family: 'Roboto Slab', serif;
	font-family: 'Montserrat', sans-serif;
*/
/* Colors 
// ========================================================================== */
/* Convert px to ems
// ========================================================================== */
/* Convert px to ems
// ========================================================================== */
/* Mixins
// ========================================================================== */
/* =Global Styles
// ========================================================================== */
html, body {
  height: 100%;
}

body {
  background: #F2F3F4;
  color: #5F6364;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}
body.modal-open {
  overflow: hidden;
}

p {
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
}

#acf-map {
  border: #ccc solid 1px;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}
@media (min-width: 48em) {
  #acf-map {
    padding-bottom: 28.05%;
  }
}

/* fixes potential theme css conflict */
#acf-map img {
  max-width: inherit !important;
}

[role=banner] {
  background: #5F6364;
  border-bottom: 5px solid #1B86A3;
  color: #fff;
  height: 65px;
  position: relative;
  padding: 1.125em 1.0625em 0;
  transition: .25s margin ease-in;
  z-index: 2;
}
[role=banner].show {
  margin-top: 11.5em;
}
@media (min-width: 48em) {
  [role=banner] {
    padding: 1em 1.625em 0;
  }
}
@media (min-width: 60em) {
  [role=banner] {
    padding: 1em 1.75em 0;
  }
}

.logo {
  font-size: 1em;
}
.logo a {
  background: url(../_img/sprite-1x.png) no-repeat -1px 0;
  display: block;
  float: left;
  height: 1.375em;
  overflow: hidden;
  text-indent: -999em;
  width: 7.4375em;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .logo a {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}
@media (min-width: 48em) {
  .logo a {
    background-position: 0 -35px;
    height: 1.6875em;
    width: 9.125em;
  }
}

.nav-main {
  background: #1B86A3;
  color: #fff;
  height: 11.5em;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
.logged-in .nav-main {
  top: 2.875em;
}
@media (min-width: 60em) {
  .nav-main {
    background: transparent;
    height: auto;
    padding-top: 0;
    position: absolute;
    left: 10.875em;
    right: 1.75em;
    text-align: right;
    top: 1.5em;
    z-index: 3;
  }
  .logged-in .nav-main {
    top: 3.5em;
  }
}
.nav-main ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-main ol li {
  margin: 0;
  padding: 0;
}
.nav-main li {
  font-family: "Roboto Slab", serif;
  font-size: 1.125em;
  font-weight: 700px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 60em) {
  .nav-main li {
    display: inline-block;
    font-size: 0.9375em;
  }
  .nav-main li > a {
    border-bottom: 5px solid transparent;
    display: block;
    height: 35px;
  }
  .nav-main li > a:hover {
    border-color: #1B86A3;
  }
}
.nav-main li:not(:first-child) {
  margin-top: 1em;
}
@media (min-width: 60em) {
  .nav-main li:not(:first-child) {
    margin-left: 1.13333em;
    margin-top: 0;
  }
}
.nav-main .subnav {
  display: none;
}
@media (min-width: 60em) {
  .nav-main .subnav {
    background: #1B86A3;
    color: #fff;
    height: 2.8em;
    position: absolute;
    left: -11.6em;
    right: -1.86667em;
    text-align: center;
    top: 2.4em;
    transition: .2s, 1s;
  }
  .page-project-listing .nav-main .subnav, .category-project-listing .nav-main .subnav, .single-project-page .nav-main .subnav {
    display: block;
  }
  .nav-main .subnav li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.86667em;
    line-height: 3.23077em;
    height: 3.23077em;
    padding: 0 1.15385em;
    text-transform: none;
  }
  .nav-main .subnav li:hover, .nav-main .subnav li.active {
    background: #1A7D90;
  }
  .nav-main .subnav li:not(:first-child) {
    margin-left: -0.46154em;
  }
  .nav-main .subnav a {
    border-bottom: none;
  }
}
@media (min-width: 64.375em) {
  .nav-main .subnav li {
    font-size: 0.93333em;
    line-height: 3em;
    height: 3em;
    padding: 0 1.28571em;
  }
  .nav-main .subnav li:not(:first-child) {
    margin-left: -0.42857em;
  }
}
@media (min-width: 60em) {
  .nav-main .nav-projects:hover a {
    border-color: #1B86A3;
  }
}

@media (min-width: 60em) {
  .page-profile .nav-main .nav-profile a, .bio-page .nav-main .nav-profile a, .page-projects .nav-main .nav-projects a, .single-project-page .nav-main .nav-projects a, .category-project-listing .nav-main .nav-projects a, .page-news .nav-main .nav-news a, .page-contact .nav-main .nav-contact a {
    border-color: #1B86A3;
  }

  .healthcare .nav-healthcare,
  .education .nav-education,
  .government-and-civic .nav-government-and-civic,
  .sports-and-recreation .nav-sports-and-recreation,
  .commercial .nav-commercial,
  .sustainable-design .nav-sustainable-design,
  .on-the-boards .nav-on-the-boards {
    background: #1A7D90;
  }
}
#nav-button {
  display: block;
  float: right;
  font-family: "Roboto Slab", serif;
  font-size: 0.9375em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1.2em;
  height: 1.2em;
  margin-top: 0.26667em;
  padding-right: 2.53333em;
  position: relative;
  text-transform: uppercase;
}
@media (min-width: 60em) {
  #nav-button {
    display: none;
  }
}
#nav-button:after {
  background: url(../_img/sprite-1x.png) no-repeat right 0;
  content: '';
  display: block;
  height: 1.2em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.73333em;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #nav-button:after {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}
.show #nav-button:after {
  background-position: -233px -28px;
}

.mobile-subnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background: #1B86A3;
  padding: 0.6875em calc(50% - 278px);
  text-align: center;
}
.mobile-subnav li {
  margin: 0;
  padding: 0;
}
.mobile-subnav li {
  background: #1B86A3;
  color: #fff;
  display: inline-block;
  font-size: 0.8125em;
  line-height: 1.84615em;
  height: 1.84615em;
  margin: 0 0.23077em 0.15385em;
  padding: 0 0.46154em;
}
.page-project-listing .mobile-subnav .nav-all, .category-healthcare .mobile-subnav .nav-healthcare, .category-education .mobile-subnav .nav-education, .category-government-and-civic .mobile-subnav .nav-government-and-civic, .category-sports-and-recreation .mobile-subnav .nav-sports-and-recreation, .category-commercial .mobile-subnav .nav-commercial, .category-sustainable-design .mobile-subnav .nav-sustainable-design, .category-on-the-boards .mobile-subnav .nav-on-the-boards {
  background: #105061;
}
@media (min-width: 60em) {
  .mobile-subnav {
    display: none;
  }
}

#content {
  background: #F2F3F4;
  position: relative;
  z-index: 2;
}
.page-homepage #content {
  background: #1B86A3;
}
@media (min-width: 48em) {
  #content {
    min-height: calc(100% - 248px);
  }
  .page-project-listing #content {
    min-height: calc(100% - 65px);
  }
}
@media (min-width: 60em) {
  .page-project-listing #content, .category-project-listing #content, .single-project-page #content {
    padding-top: 2.3125em;
  }
}
@media (min-width: 62.25em) {
  #content .wrapper {
    padding-left: calc(50% - 470px);
    padding-right: calc(50% - 470px);
  }
}

[role=contentinfo] {
  background: #5F6364;
  color: #fff;
  padding: 1.625em 1.0625em 2.8125em;
  position: relative;
  text-align: center;
  z-index: 2;
}
@media (min-width: 48em) {
  [role=contentinfo] {
    text-align: left;
  }
}
@media (min-width: 60em) {
  [role=contentinfo] {
    padding: 1.5em calc(50% - 400px) 2.625em;
  }
  [role=contentinfo]:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 48em) {
  [role=contentinfo] .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 60em) {
  [role=contentinfo] .container {
    float: left;
    width: calc(100% - 226px);
  }
}
[role=contentinfo] .address {
  font-size: 0.8125em;
  line-height: 1.53846em;
  margin-bottom: 2em;
}
@media (min-width: 48em) {
  [role=contentinfo] .address {
    border-top: 2px solid #fff;
    float: left;
    padding-top: 1em;
    width: 38.14%;
  }
}

.hcard:not(:first-child) {
  margin-top: 2em;
}
.hcard:not(:first-child) .p-name {
  display: none;
}
.hcard:not(:first-child) .p-name + br {
  display: none;
}

.footer-logo {
  background: url(../_img/sprite-1x.png) no-repeat -130px 0;
  height: 1.6875em;
  margin: 0 auto 0.8125em;
  position: relative;
  width: 4.875em;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .footer-logo {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}
@media (min-width: 48em) {
  .footer-logo {
    height: 0.875em;
    margin: 0 0 0.8125em;
  }
}
@media (min-width: 60em) {
  .footer-logo {
    background-position: 0 -80px;
    float: left;
    height: 1.625em;
    margin-bottom: 0;
    margin-right: 5.375em;
    width: 8.75em;
  }
}
.footer-logo:after {
  background: #fff;
  content: '';
  display: block;
  height: 0.125em;
  position: absolute;
  bottom: 0;
  left: -3.0625em;
  width: 11em;
  z-index: 1;
}
@media (min-width: 48em) {
  .footer-logo:after {
    display: none;
  }
}

.footer-nav {
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #fff;
  font-family: "Roboto Slab", serif;
  font-size: 0.8125em;
  line-height: 1.53846em;
  margin-bottom: 2em;
  padding-top: 1em;
  text-transform: uppercase;
  width: 13.53846em;
}
.footer-nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-nav ol li {
  margin: 0;
  padding: 0;
}
.footer-nav ol li:not(:first-child) {
  margin-top: 0.46154em;
}
@media (min-width: 48em) {
  .footer-nav {
    float: left;
    margin-left: 9.29%;
    width: 21.64%;
  }
}
@media (min-width: 60em) {
  .footer-nav a:hover {
    border-bottom: 2px solid #fff;
  }
}

.social-links {
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #fff;
  padding-top: 0.8125em;
  width: 11em;
}
@media (min-width: 48em) {
  .social-links {
    float: left;
    margin-left: 9.29%;
    text-align: center;
    width: 21.64%;
  }
}
.social-links ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social-links ol li {
  margin: 0;
  padding: 0;
}
.social-links li {
  display: inline-block;
}
.social-links a {
  background: url(../_img/sprite-1x.png) no-repeat;
  display: block;
  height: 1.875em;
  overflow: hidden;
  text-indent: -999em;
  transition: .25s opacity ease-in;
  width: 2em;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .social-links a {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}
@media (min-width: 60em) {
  .social-links a:hover {
    opacity: .7;
  }
}
.social-links .facebook a {
  background-position: -177px -63px;
}
.social-links .twitter {
  margin-left: 0.5em;
}
.social-links .twitter a {
  background-position: -218px -63px;
}

/* =Homepage
// ========================================================================== */
.hero-image {
  position: relative;
  z-index: 2;
}
.hero-image img {
  max-width: none;
  width: 100%;
}
.single-project-page .hero-image {
  background: #CACCCD;
}
.single-project-page .hero-image img {
  max-width: 100%;
  width: auto;
}
@media (min-width: 48em) {
  .single-project-page .hero-image {
    text-align: center;
  }
}
.single-project-page .hero-image .hero-project {
  position: relative;
}
@media (min-width: 48em) {
  .single-project-page .hero-image .hero-project {
    display: inline-block;
  }
}
.single-project-page .hero-image .hero-project a {
  display: block;
  position: relative;
}
.single-project-page .hero-image .hero-project a:after {
  background: url(../_img/sprite-1x.png) no-repeat -103px -163px;
  content: '';
  height: 1.25em;
  width: 1.25em;
  position: absolute;
  top: 0.875em;
  right: 1.375em;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .single-project-page .hero-image .hero-project a:after {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}

.bio-page .hero-image {
  background: #CACCCD;
  /* figure out margin to move up image */
}
@media (min-width: 58.75em) {
  .bio-page .hero-image {
    padding: 0 calc(50% - 470px);
  }
}

.secondary-page .hero-image {
  max-height: 25em;
  overflow: hidden;
}
.secondary-page.bio-page .hero-image {
  max-height: 30em;
}

.home-intro-content {
  background: #1B86A3;
  color: #fff;
  padding: 1.75em 0 2.0625em;
  text-align: center;
}
@media (min-width: 48em) {
  .home-intro-content {
    padding: 3.875em 0;
  }
}
.home-intro-content p {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75em;
  line-height: 1.66667em;
  max-width: 23.16667em;
  width: 74%;
}
@media (min-width: 48em) {
  .home-intro-content p {
    font-size: 0.8125em;
    line-height: 1.53846em;
    width: 21.38462em;
  }
}
@media (min-width: 60em) {
  .home-intro-content p {
    font-size: 0.9375em;
    line-height: 1.33333em;
  }
}
.home-intro-content .btn {
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-family: "Roboto Slab", serif;
  font-size: 0.9375em;
  font-weight: 700;
  height: 2.66667em;
  letter-spacing: .05em;
  line-height: 2.4em;
  margin-top: 1.13333em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: .25s ease-in;
  width: 10.66667em;
}
.home-intro-content .btn:hover {
  background: #fff;
  border-color: #fff;
  color: #1B86A3;
}
@media (min-width: 48em) {
  .home-intro-content .btn {
    margin-top: 1.8em;
  }
}
@media (min-width: 60em) {
  .home-intro-content .btn {
    margin-top: 2em;
  }
}

/* =Secondary Pages
// ========================================================================== */
@media (min-width: 48em) {
  .two-column {
    position: relative;
  }
  .two-column:after {
    content: "";
    display: table;
    clear: both;
  }
  .two-column:before {
    background: #1B86A3;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 68.085%);
    z-index: 1;
  }
  .single-news-item .two-column:before, .news-listing .two-column:before, .contact-us .two-column:before {
    display: none;
  }
}
@media (min-width: 62.25em) {
  .two-column:before {
    left: calc(50% + 170px);
    width: auto;
  }
}

.content-main {
  padding: 2.5em 1.0625em 3.0625em;
}
@media (min-width: 48em) {
  .content-main {
    float: left;
    padding-left: 1.625em;
    padding-right: 3.125em;
    position: relative;
    width: 68.085%;
    z-index: 2;
  }
}
@media (min-width: 48em) and (max-width: 59.9375em) {
  .news-listing .content-main {
    width: calc(100% - 291px);
  }
}
@media (min-width: 62.25em) {
  .content-main {
    padding-left: 0;
    width: 40em;
  }
}
.content-main p {
  font-size: 0.875em;
  line-height: 1.57143em;
}
.content-main p + p {
  margin-top: 1.78571em;
}

.content-secondary {
  background: #1B86A3;
  color: #fff;
  padding: 3em 2.1875em;
}
.news-listing .content-secondary {
  background: transparent;
}
@media (max-width: 47.9375em) {
  .single-news-item .content-secondary, .news-listing .content-secondary, .page-contact .content-secondary {
    display: none;
  }
}
@media (min-width: 48em) {
  .content-secondary {
    float: right;
    position: relative;
    width: calc(100% - 68.085%);
    z-index: 2;
  }
}
@media (min-width: 48em) and (max-width: 59.9375em) {
  .news-listing .content-secondary {
    padding-left: 0;
    padding-right: 1.625em;
    width: 18.1875em;
  }
}
@media (min-width: 62.25em) {
  .content-secondary {
    padding-right: 0;
    width: 18.75em;
  }
}
.content-secondary p {
  font-size: 0.875em;
  line-height: 1.57143em;
}
.content-secondary div {
  font-size: 0.875em;
}
.content-secondary div:not(.client) {
  margin-top: 1.14286em;
}

.page-title {
  border-bottom: 2px solid #1B86A3;
  color: #1B86A3;
  font-family: "Roboto Slab", serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 0.6875em;
  padding-bottom: 0.625em;
}
@media (min-width: 48em) {
  .page-title {
    font-size: 2.25em;
    line-height: 1.22222em;
    margin-bottom: 0.66667em;
    padding-bottom: 0.61111em;
  }
}

.aside-heading {
  border-bottom: 2px solid #fff;
  font-family: "Roboto Slab", serif;
  font-size: 0.9375em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1;
  margin-bottom: 1.2em;
  padding-bottom: 1.13333em;
  text-transform: uppercase;
}

.section-heading {
  background: #5F6364;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 0.9375em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 2.66667em;
  height: 2.66667em;
  padding: 0 1.0625em;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .section-heading {
    padding: 0 1.625em;
  }
}
@media (min-width: 60em) {
  .section-heading {
    padding: 0 1.75em;
  }
}
@media (min-width: 62.25em) {
  .section-heading {
    padding: 0 calc(50% - 470px);
  }
}

/* =Profile Page
// ========================================================================== */
.our-people .wrapper {
  padding: 1.375em 1.0625em;
}
@media (min-width: 30em) {
  .our-people .wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .our-people .wrapper:after {
    content: '';
    display: block;
    margin-left: 48.38%;
  }
}
@media (min-width: 48em) {
  .our-people .wrapper {
    padding-left: 1.625em;
    padding-right: 1.625em;
  }
  .our-people .wrapper:after {
    margin-left: 31.91%;
  }
}

.person {
  background: #1B86A3;
  margin-left: auto;
  margin-right: auto;
  max-width: 18.75em;
  margin-bottom: 1.125em;
}
@media (min-width: 30em) {
  .person {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: 48.38%;
  }
}
@media (min-width: 48em) {
  .person {
    width: 31.91%;
  }
}
.person a {
  display: block;
}

@supports (display: grid) {
  @media (min-width: 30em) {
    .our-people .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.125em;
      grid-row-gap: 1.125em;
    }

    .our-people .wrapper:after {
      display: none;
    }

    .person {
      margin-bottom: 0;
      width: auto;
    }
  }
  @media (min-width: 48em) {
    .our-people .wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
.bio-image {
  position: relative;
}
.bio-image figure {
  margin: 0;
}
.bio-image img {
  max-width: none;
  width: 100%;
}
.bio-image .casual-image {
  position: relative;
  transition: .25s opacity ease-in;
  z-index: 1;
}
.bio-image .professional-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .25s opacity ease-in;
}
.bio-image span {
  background: #fff;
  border-radius: 1.33333em;
  color: #1B86A3;
  display: none;
  font-family: "Roboto Slab", serif;
  font-size: 0.9375em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 2.66667em;
  height: 2.66667em;
  text-transform: uppercase;
  text-align: center;
  padding: 0 1.33333em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 7.86667em;
  z-index: 2;
}
.person a:hover .bio-image .casual-image {
  opacity: 0;
}
.person a:hover .bio-image .professional-image {
  opacity: 1;
  z-index: 2;
}
.person a:hover .bio-image span {
  display: inline-block;
}

.bio-info {
  color: #fff;
  padding: 0.6875em 1.875em;
}

.bio-info h4,
.bio-title {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.28571em;
}

/* =Bio Page
// ========================================================================== */
.bio-page .page-title h2 {
  font-size: 1em;
}

.page-subtitle {
  font-size: 0.41667em;
  line-height: 1.73333em;
  text-transform: uppercase;
}

.bio-section:not(.inspiration) {
  margin-top: 1.375em;
}

.bio-subheading {
  color: #1B86A3;
  font-family: "Roboto Slab", serif;
  font-size: 0.9375em;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}

.bio-section .body-copy {
  font-size: 0.875em;
  line-height: 1.57143em;
}

.weekend-image {
  margin-bottom: 2.25em;
}

/* =Project Listing Page
// ========================================================================== */
.project-listing {
  padding: 1.375em 1.0625em 0.25em;
}
@media (min-width: 30em) {
  .project-listing {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-listing:after {
    content: '';
    display: block;
    margin-left: 48.38%;
  }
}
@media (min-width: 48em) {
  .project-listing {
    padding-left: 1.625em;
    padding-right: 1.625em;
  }
  .project-listing:after {
    margin-left: 31.91%;
  }
}
@media (min-width: 60em) {
  .project-listing {
    padding-left: 1.75em;
    padding-right: 1.75em;
  }
}
@media (min-width: 62.25em) {
  .project-listing {
    padding-left: calc(50% - 470px);
    padding-right: calc(50% - 470px);
  }
}

.project {
  margin-left: auto;
  margin-right: auto;
  background: #1B86A3;
  margin-bottom: 1.125em;
  max-width: 18.75em;
}
@media (min-width: 30em) {
  .project {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: 48.38%;
  }
}
@media (min-width: 48em) {
  .project {
    width: 31.91%;
  }
}
.project a {
  display: block;
}

.project-image {
  background: #fff;
  position: relative;
}
.project-image span {
  background: #fff;
  border-radius: 1.33333em;
  color: #1B86A3;
  display: none;
  font-family: "Roboto Slab", serif;
  font-size: 0.9375em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 2.66667em;
  height: 2.66667em;
  text-transform: uppercase;
  text-align: center;
  padding: 0 1.33333em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.project-image img {
  width: 100%;
}
.project a:hover .project-image img, .bio-project .project-image a:hover img {
  opacity: .5;
}
.project a:hover .project-image span, .bio-project .project-image a:hover span {
  display: inline-block;
}

@supports (display: grid) {
  @media (min-width: 30em) {
    .project-listing {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.125em;
      grid-row-gap: 1.125em;
      margin-bottom: 1.125em;
    }

    .project-listing:after {
      display: none;
    }

    .project {
      margin-bottom: 0;
      width: auto;
    }
  }
  @media (min-width: 48em) {
    .project-listing {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
.project-title {
  color: #fff;
  min-height: 3.625em;
  padding: 0.6875em 1.875em;
}

.project-title h4 {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.28571em;
}

@media (min-width: 60em) {
  .single-project-page #content:before {
    background: #CACCCD;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25em;
    z-index: 1;
  }
}

.hero-carousel {
  margin-bottom: 1.875em;
  position: relative;
  z-index: 3;
}
@media (min-width: 41.25em) {
  .hero-carousel {
    margin-bottom: 0;
  }
}
.hero-carousel ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hero-carousel ol li {
  margin: 0;
  padding: 0;
}
.hero-carousel img {
  max-width: none;
  width: 100%;
}
@media (min-width: 41.25em) {
  .hero-carousel .slick-slide:not(.slick-current) a {
    cursor: default;
    pointer-events: none;
  }
}
.hero-carousel .slick-current,
.hero-carousel .hero-project.display-one {
  position: relative;
}
.hero-carousel .slick-current a,
.hero-carousel .hero-project.display-one a {
  display: block;
  position: relative;
}
.hero-carousel .slick-current img,
.hero-carousel .hero-project.display-one img {
  display: block;
  position: relative;
  z-index: 1;
}
.hero-carousel .slick-current a:after,
.hero-carousel .hero-project.display-one a:after {
  background: url(../_img/sprite-1x.png) no-repeat -103px -163px;
  content: '';
  height: 1.25em;
  width: 1.25em;
  position: absolute;
  top: 0.875em;
  right: 1.375em;
  z-index: 2;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .hero-carousel .slick-current a:after,
  .hero-carousel .hero-project.display-one a:after {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}
.hero-carousel .slick-arrow {
  background: url(../_img/sprite-1x.png) no-repeat -1px -148px;
  border: 0;
  position: absolute;
  height: 3.125em;
  overflow: hidden;
  outline: none;
  padding: 0;
  text-indent: -999em;
  top: 50%;
  margin-top: -1.5625em;
  width: 1.875em;
  z-index: 2;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .hero-carousel .slick-arrow {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}
@media (min-width: 41.25em) {
  .hero-carousel .slick-arrow {
    background: transparent;
    bottom: 0;
    height: 100%;
    top: 0;
    margin-top: 0;
    width: calc(50% - 250px);
  }
}
@media (min-width: 48em) {
  .hero-carousel .slick-arrow {
    width: calc(50% - 298px);
  }
}
.hero-carousel .slick-prev {
  background-position: -1px -148px;
  left: 1.375em;
}
@media (min-width: 41.25em) {
  .hero-carousel .slick-prev {
    left: 0;
  }
  .hero-carousel .slick-prev:after {
    background: url(../_img/sprite-1x.png) no-repeat -1px -148px;
    content: '';
    height: 3.125em;
    top: 50%;
    left: 1.375em;
    margin-top: -1.5625em;
    position: absolute;
    width: 1.875em;
  }
}
@media (min-width: 41.25em) and (min--moz-device-pixel-ratio: 1.3), (min-width: 41.25em) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 41.25em) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 41.25em) and (min-device-pixel-ratio: 1.3), (min-width: 41.25em) and (min-resolution: 1.3dppx) {
  .hero-carousel .slick-prev:after {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}

.hero-carousel .slick-next {
  background-position: -60px -148px;
  right: 1.375em;
}
@media (min-width: 41.25em) {
  .hero-carousel .slick-next {
    right: 0;
  }
  .hero-carousel .slick-next:after {
    background: url(../_img/sprite-1x.png) no-repeat -60px -148px;
    content: '';
    height: 3.125em;
    top: 50%;
    right: 1.375em;
    margin-top: -1.5625em;
    position: absolute;
    width: 1.875em;
  }
}
@media (min-width: 41.25em) and (min--moz-device-pixel-ratio: 1.3), (min-width: 41.25em) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 41.25em) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 41.25em) and (min-device-pixel-ratio: 1.3), (min-width: 41.25em) and (min-resolution: 1.3dppx) {
  .hero-carousel .slick-next:after {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}

.hero-carousel .slick-dots {
  position: absolute;
  bottom: -1.875em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  left: 0;
  right: 0;
}
.hero-carousel .slick-dots li {
  margin: 0;
  padding: 0;
}
@media (min-width: 41.25em) {
  .hero-carousel .slick-dots {
    bottom: 1.25em;
  }
}
.hero-carousel .slick-dots li {
  display: inline-block;
}
.hero-carousel .slick-dots li:not(:first-child) {
  margin-left: 0.875em;
}
.hero-carousel .slick-dots button {
  background: #fff;
  border: 2px solid #1B86A3;
  border-radius: 50%;
  display: block;
  height: 0.875em;
  width: 0.875em;
  overflow: hidden;
  padding: 0;
  text-indent: -999em;
}
@media (min-width: 48em) {
  .hero-carousel .slick-dots button {
    background: #1B86A3;
    border-color: #fff;
  }
}
.hero-carousel .slick-dots .slick-active button {
  background: #1B86A3;
}
@media (min-width: 48em) {
  .hero-carousel .slick-dots .slick-active button {
    background: #fff;
  }
}
@media (min-width: 41.25em) {
  .hero-carousel .slick-list {
    padding: 0 calc(50% - 250px) !important;
  }
  .hero-carousel .slick-slide img {
    transition: .25s opacity ease-in;
  }
  .hero-carousel .slick-slide:not(.slick-current) img {
    opacity: .6;
  }
}
@media (min-width: 48em) {
  .hero-carousel {
    margin: 0 auto;
    height: 25em;
    max-width: 111.75em;
    overflow: hidden;
    width: 100%;
  }
  .hero-carousel .slick-list {
    padding: 0 calc(50% - 298px) !important;
  }
}

.project-development {
  padding-bottom: 3.4375em;
}
@media (min-width: 48em) {
  .project-development {
    padding-bottom: 0;
  }
}

.projects-carousel,
.bio-projects-carousel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 1.25em 4.6875em;
  position: relative;
}
.projects-carousel li,
.bio-projects-carousel li {
  margin: 0;
  padding: 0;
}
@media (min-width: 48em) {
  .projects-carousel,
  .bio-projects-carousel {
    padding: 1.25em 4.6875em;
  }
}
@media (min-width: 65em) {
  .projects-carousel,
  .bio-projects-carousel {
    margin: 0 auto;
    width: 65em;
  }
}
.projects-carousel img,
.bio-projects-carousel img {
  max-width: none;
  width: 100%;
}
.projects-carousel .slick-slide,
.bio-projects-carousel .slick-slide {
  padding: 0 0.625em;
}
.projects-carousel .slick-arrow,
.bio-projects-carousel .slick-arrow {
  background: url(../_img/sprite-1x.png) no-repeat -1px -148px;
  border: 0;
  position: absolute;
  height: 3.125em;
  overflow: hidden;
  outline: none;
  padding: 0;
  text-indent: -999em;
  top: 50%;
  margin-top: -1.5625em;
  width: 1.875em;
  z-index: 2;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .projects-carousel .slick-arrow,
  .bio-projects-carousel .slick-arrow {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}
.projects-carousel .slick-prev,
.bio-projects-carousel .slick-prev {
  background-position: -1px -148px;
  left: 1.375em;
}
@media (min-width: 65em) {
  .projects-carousel .slick-prev,
  .bio-projects-carousel .slick-prev {
    left: 0;
  }
}
.projects-carousel .slick-next,
.bio-projects-carousel .slick-next {
  background-position: -60px -148px;
  right: 1.375em;
}
@media (min-width: 65em) {
  .projects-carousel .slick-next,
  .bio-projects-carousel .slick-next {
    right: 0;
  }
}
.projects-carousel .slick-dots,
.bio-projects-carousel .slick-dots {
  position: absolute;
  bottom: -1.875em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  left: 0;
  right: 0;
}
.projects-carousel .slick-dots li,
.bio-projects-carousel .slick-dots li {
  margin: 0;
  padding: 0;
}
@media (min-width: 48em) {
  .projects-carousel .slick-dots,
  .bio-projects-carousel .slick-dots {
    bottom: 1.25em;
  }
}
.projects-carousel .slick-dots li,
.bio-projects-carousel .slick-dots li {
  display: inline-block;
}
.projects-carousel .slick-dots li:not(:first-child),
.bio-projects-carousel .slick-dots li:not(:first-child) {
  margin-left: 0.875em;
}
.projects-carousel .slick-dots button,
.bio-projects-carousel .slick-dots button {
  background: #fff;
  border: 2px solid #1B86A3;
  border-radius: 50%;
  display: block;
  height: 0.875em;
  width: 0.875em;
  overflow: hidden;
  padding: 0;
  text-indent: -999em;
}
@media (min-width: 48em) {
  .projects-carousel .slick-dots button,
  .bio-projects-carousel .slick-dots button {
    background: #1B86A3;
    border-color: #fff;
  }
}
.projects-carousel .slick-dots .slick-active button,
.bio-projects-carousel .slick-dots .slick-active button {
  background: #1B86A3;
}
@media (min-width: 48em) {
  .projects-carousel .slick-dots .slick-active button,
  .bio-projects-carousel .slick-dots .slick-active button {
    background: #fff;
  }
}

.project-dev {
  position: relative;
}
.project-dev a {
  display: block;
}
.project-dev a:hover img {
  opacity: .5;
}
.project-dev a:hover:after {
  background: url(../_img/sprite-1x.png) no-repeat -208px -153px;
  content: '';
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .project-dev a:hover:after {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}

#modal {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
#modal .close-btn {
  background: url(../_img/sprite-1x.png) no-repeat -140px -153px;
  cursor: pointer;
  display: block;
  height: 2.625em;
  width: 2.625em;
  position: absolute;
  right: 1.75em;
  top: 1.75em;
  z-index: 5;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #modal .close-btn {
    background-image: url("../_img/sprite-2x.png");
    background-size: 250px 500px;
  }
}
#modal .wrapper {
  max-height: 100vh;
  overflow-y: scroll;
}
#modal figure {
  margin: 1.75em auto;
  max-width: 85vw;
}
#modal figcaption {
  color: #fff;
  font-size: 0.875em;
  line-height: 1.42857em;
  margin-top: 1.42857em;
}

/* =News Listing
// ========================================================================== */
@media (min-width: 48em) {
  .single-news-item #content,
  .page-contact #content {
    position: relative;
  }
  .single-news-item #content:before,
  .page-contact #content:before {
    background: #1B86A3;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 31.915%;
    z-index: 1;
  }
}
@media (min-width: 60em) {
  .single-news-item #content:before,
  .page-contact #content:before {
    width: calc(50% - 170px);
  }
}

.news-item {
  margin-bottom: 2.75em;
}
.news-item h3 {
  color: #1B86A3;
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.news-item h3 a:hover {
  text-decoration: underline;
}

.excerpt p {
  margin-right: 0.53333em;
}

.read-full-article {
  color: #1B86A3;
  display: block;
  font-size: 0.875em;
  line-height: 1.57143em;
  text-align: right;
}
.read-full-article:hover {
  text-decoration: underline;
}

.posting-date {
  color: #5F6364;
  font-family: "Roboto Slab", serif;
  font-size: 0.8125em;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 1.38462em;
  position: relative;
  text-transform: uppercase;
}
.posting-date span {
  background: #F2F3F4;
  display: inline-block;
  padding-right: 0.5em;
  position: relative;
  z-index: 3;
}
.posting-date:after {
  background: #5F6364;
  content: '';
  display: block;
  height: 0.07692em;
  position: absolute;
  top: 51%;
  width: 100%;
  z-index: 1;
}

.news-image {
  margin-bottom: 0.75em;
}

.pagination {
  border-top: 2px solid #1B86A3;
  font-size: 1em;
  padding-top: 0.5625em;
  text-align: center;
}
@media (min-width: 60em) {
  .pagination {
    text-align: right;
  }
}
.pagination .current {
  color: #5F6364;
}
.pagination span {
  display: inline-block;
  height: 2.875em;
  line-height: 2.875em;
  width: 2.875em;
  text-align: center;
}
@media (min-width: 60em) {
  .pagination span {
    height: 1em;
    line-height: 1em;
    width: 1.5em;
  }
}
.pagination a {
  color: #1B86A3;
  display: inline-block;
  height: 2.875em;
  line-height: 2.875em;
  width: 2.875em;
  text-align: center;
}
@media (min-width: 60em) {
  .pagination a {
    height: 1em;
    line-height: 1em;
    width: 1.5em;
  }
}
.pagination a:hover {
  text-decoration: underline;
}

/* =Contact Page
// ========================================================================== */
form label {
  display: block;
  font-size: 0.9375em;
  line-height: 1.4em;
  margin-bottom: 0.26667em;
}
form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
form ul li {
  margin: 0;
  padding: 0;
}
form ul li {
  margin-bottom: 0.66667em;
}
form li {
  font-size: 0.9375em;
  line-height: 1.4em;
  margin-bottom: 1em;
}
form .submit {
  margin-top: 1.66667em;
}
form input[type=text],
form input[type=email] {
  border: 1px solid #5F6364;
  padding: 0.4em;
  width: 100%;
}
form textarea {
  border: 1px solid #5F6364;
  height: 9.2em;
  padding: 0.4em;
  width: 100%;
}
form button {
  background: transparent;
  border: 2px solid #1B86A3;
  border-radius: 5px;
  color: #1B86A3;
  display: block;
  font-family: "Roboto Slab", serif;
  font-size: 0.9375em;
  font-weight: 700;
  height: 2.66667em;
  letter-spacing: .05em;
  line-height: 2.4em;
  margin-top: 1.13333em;
  padding: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: .25s ease-in;
  width: 10.66667em;
}
form button:hover {
  background: #1B86A3;
  color: #fff;
}

.wpcf7-mail-sent-ok {
  background: #ccc;
  border: 0 !important;
  font-size: 0.9375em;
  line-height: 1.4em;
  margin: 3.33333em 0 0 !important;
  padding: 0.66667em !important;
}

div.wpcf7-validation-errors {
  background: red;
  border-color: red !important;
  color: white;
  font-size: 0.9375em;
  line-height: 1.4em;
  margin: 3.33333em 0 0 !important;
  padding: 0.66667em !important;
}

/* =Slick
// ========================================================================== */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  outline: none;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
