@import "normalize";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Viewport
// ========================================================================== */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Breakpoints
// ========================================================================== */
$break-0:0;
$break-1:20em; /* 320px */
$break-2: 30em; /* 480px */
$break-3: 37.5em; /* 600px */
$break-4: 48em; /* 768px */
$break-5: 60em; /* 960px */
$break-6: 68.75em; /* 1100px */

/* Typography 
// ========================================================================== */

/*
	font-family: 'Roboto Slab', serif;
	font-family: 'Montserrat', sans-serif;
*/

$browser-default-font-size:16px;
$layout-size:16px;

$font-stack-montserrat:'Montserrat',sans-serif;
$font-stack-roboto-slab:'Roboto Slab', serif;

/* Colors 
// ========================================================================== */
$color-text:#5F6364;
$color-white: #fff;
$color-blue: #1B86A3;
$color-blue-highlight:#1A7D90;
$color-red: #b31218;
$color-grey: #5F6364;
$color-light-grey:#F2F3F4;
$color-darker-grey:#CACCCD;
$color-text:#5F6364;

/* Convert px to ems
// ========================================================================== */
@function px-to-ems( $pixels, $context: $browser-default-font-size ) {
  @return #{$pixels/$context}em;
}

@function return-ems( $pixels, $context ) {
  @return #{$pixels/$context}em;
}
@function layout-ems( $pixels, $context: $layout-size ) {
  @return #{$pixels/$context}em;
}

/* Convert px to ems
// ========================================================================== */
@function px-to-ems( $pixels, $context: $browser-default-font-size ) {
  @return #{$pixels/$context}em;
}

@function return-ems( $pixels, $context ) {
  @return #{$pixels/$context}em;
}
@function layout-ems( $pixels, $context: $layout-size ) {
  @return #{$pixels/$context}em;
}

/* Mixins
// ========================================================================== */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin delist {
	list-style-type: none;
	margin:0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}
@mixin center {
	margin-left: auto;
	margin-right: auto;
}
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}
@mixin valign() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}