@import 'base';


/* =Global Styles
// ========================================================================== */
html, body {
	height: 100%;
}
body {
	background: $color-light-grey;
	color:$color-text;
	font-family:$font-stack-montserrat;
	font-size:100%;
	&.modal-open {
		overflow: hidden;
	}
}
p {
	margin-bottom: 0;
}
img {
	display: block;
	height: auto;
	max-width:100%;
}
a {
	color:inherit;
	text-decoration: none;
}
button {
	outline: none;
}
#acf-map {
	border: #ccc solid 1px;
	height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    @media (min-width:$break-4) {
	    padding-bottom: 28.05%;
    }
}

/* fixes potential theme css conflict */
#acf-map img {
   max-width: inherit !important;
}

[role=banner] {
	background:$color-grey;
	border-bottom:5px solid $color-blue;
	color:$color-white;
	height:65px;
	position:relative;
	padding:px-to-ems(18px) px-to-ems(17px) 0;
	transition:.25s margin ease-in;
	z-index:2;
	&.show {
		margin-top:px-to-ems(184px);
	}
	@media (min-width:$break-4) {
		padding: px-to-ems(16px) px-to-ems(26px) 0;
	}
	@media (min-width:$break-5) {
		padding: px-to-ems(16px) px-to-ems(28px) 0;
	}
}
.logo {
	font-size: 1em;
	a {
		background: url(../_img/sprite-1x.png) no-repeat -1px 0;
		@include image-2x('../_img/sprite-2x.png', 250px, 500px);
		display:block;
		float:left;
		height: px-to-ems(22px);
		overflow:hidden;
		text-indent: -999em;
		width: px-to-ems(119px);
		@media (min-width:$break-4) {
			background-position: 0 -35px;
			height: px-to-ems(27px);
			width: px-to-ems(146px);
		}
	}
}
.nav-main {
	background:$color-blue;
	color:$color-white;
	height: px-to-ems(184px);
	padding-top:30px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	text-align: center;
	z-index:1;
	.logged-in & {
		top:px-to-ems(46px);
	}
	@media (min-width:$break-5) {
		background: transparent;
		height: auto;
		padding-top:0;
		position: absolute;
		left:px-to-ems(174px);
		right:px-to-ems(28px);
		text-align: right;
		top:px-to-ems(24px);
		z-index:3;
		.logged-in & {
			top:px-to-ems(56px);
		}
	}
	ol {
		@include delist;
	}
	li {
		font-family: $font-stack-roboto-slab;
		font-size: px-to-ems(18px);
		font-weight: 700px;
		line-height: 1;
		text-transform: uppercase;
		@media (min-width:$break-5) {
			display: inline-block;
			font-size: px-to-ems(15px);
			& > a {
				border-bottom: 5px solid transparent;
				display: block;
				height: 35px;
				&:hover {
					border-color: $color-blue;
				}
			}
		}
	}
	li:not(:first-child) {
		margin-top: return-ems(18px,18px);
		@media (min-width:$break-5) {
			margin-left: return-ems(17px,15px);
			margin-top: 0;
		}
	}
	.subnav {
		display: none;
		@media (min-width:$break-5) {
			background: $color-blue;
			color:$color-white;
			height: return-ems(42px,15px);
			position: absolute;
			left:return-ems(-174px,15px);
			right:return-ems(-28px,15px);
			text-align: center;
			top:return-ems(36px,15px);
			transition:.2s, 1s;
			.page-project-listing &,
			.category-project-listing &,
			.single-project-page & {
				display: block;
			}
			li {
				display: inline-block;
				font-family: $font-stack-montserrat;
				font-weight: 700;
				font-size: return-ems(13px,15px);
				line-height: return-ems(42px,13px);
				height: return-ems(42px,13px);
				padding:0 return-ems(15px,13px);
				text-transform: none;
				&:hover,
				&.active {
					background: $color-blue-highlight;
				}
				&:not(:first-child) {
					margin-left:return-ems(-6px,13px);
				}
				
			}
			a {
				border-bottom: none;
			}
		}
		@media (min-width:layout-ems(1030px)) {
			li {
				font-size: return-ems(14px,15px);
				line-height: return-ems(42px,14px);
				height: return-ems(42px,14px);
				padding:0 return-ems(18px,14px);
				&:not(:first-child) {
					margin-left:return-ems(-6px,14px);
				}
			}
		}
	}
	.nav-projects {
		@media (min-width:$break-5) {
			&:hover a {
				border-color: $color-blue;
			}
			&:hover .subnav {
			//	display: block;
			}
		}
	}
}
@media (min-width:$break-5) {
	.nav-main {
		.page-profile & .nav-profile a,
		.bio-page & .nav-profile a,
		.page-projects & .nav-projects a,
		.single-project-page & .nav-projects a,
		.category-project-listing & .nav-projects a,
		.page-news & .nav-news a,
		.page-contact & .nav-contact a {
			border-color: $color-blue;
		}
	}
	.healthcare .nav-healthcare,
	.education .nav-education,
	.government-and-civic .nav-government-and-civic,
	.sports-and-recreation .nav-sports-and-recreation,
	.commercial .nav-commercial,
	.sustainable-design .nav-sustainable-design,
	.on-the-boards .nav-on-the-boards {
		background: $color-blue-highlight;
	}
}
#nav-button {
	display:block;
	float: right;
	font-family: $font-stack-roboto-slab;
	font-size: px-to-ems(15px);
	font-weight: 700;
	letter-spacing: .05em;
	line-height: return-ems(18px,15px);
	height:return-ems(18px,15px);
	margin-top:return-ems(4px,15px);
	padding-right: return-ems(38px,15px);
	position: relative;
	text-transform: uppercase;
	@media (min-width:$break-5) {
		display: none;
	}
	&:after {
		background: url(../_img/sprite-1x.png) no-repeat right 0;
		@include image-2x('../_img/sprite-2x.png', 250px, 500px);
		content:'';
		display:block;
		height:return-ems(18px,15px);
		position: absolute;
		right:0;
		top:0;
		width: return-ems(26px,15px);
		.show & {
			background-position: -233px -28px;
		}
	}
}
.mobile-subnav {
	@include delist;
	@include center;
	background: $color-blue;
	padding: px-to-ems(11px) calc(50% - 278px);
	text-align: center;
	@media (min-width:$break-4) {

	}
	li {
		background: $color-blue;
		color: $color-white;
		display: inline-block;
		font-size: px-to-ems(13px);
		line-height: return-ems(24px,13px);
		height: return-ems(24px,13px);
		margin:0 return-ems(3px,13px) return-ems(2px,13px);
		padding:0 px-to-ems(6px,13px);
		
	}
	.page-project-listing & .nav-all,
	.category-healthcare & .nav-healthcare,
	.category-education & .nav-education,
	.category-government-and-civic & .nav-government-and-civic,
	.category-sports-and-recreation & .nav-sports-and-recreation,
	.category-commercial & .nav-commercial,
	.category-sustainable-design & .nav-sustainable-design,
	.category-on-the-boards & .nav-on-the-boards {
		background: darken($color-blue, 15%);
	}
	@media (min-width:$break-5) {
		display: none;
	}
}
#content {
	background: $color-light-grey;
	position: relative;
	z-index:2;
	.page-homepage & {
		background: $color-blue;
	}
	@media (min-width:$break-4) {
		min-height: calc(100% - 248px);
		.page-project-listing & {
			min-height: calc(100% - 65px);
		}
	}
	@media (min-width:$break-5) {
		.wrapper {
		//	padding-left:px-to-ems(28px);
		//	padding-right:px-to-ems(28px);
		}
		.page-project-listing &,
		.category-project-listing &,
		.single-project-page & {
			padding-top: px-to-ems(37px);
		}
	}
	@media (min-width:layout-ems(996px)) {
		.wrapper {
			padding-left:calc(50% - 470px);
			padding-right:calc(50% - 470px);
		}
	}
}
[role=contentinfo] {
	background: $color-grey;
	color: $color-white;
	padding: px-to-ems(26px) px-to-ems(17px) px-to-ems(45px);
	position: relative;
	text-align: center;
	z-index:2;
	@media (min-width:$break-4) {
		text-align: left;
	}
	@media (min-width:$break-5) {
		@include clearfix;
		padding: px-to-ems(24px) calc(50% - 400px) px-to-ems(42px);
	}
	.container {
		@media (min-width:$break-4) {
			@include clearfix;
		}
		@media (min-width:$break-5) {
			float: left;
			width:calc(100% - 226px);
		}
	}
	.address {
		font-size: px-to-ems(13px);
		line-height: return-ems(20px,13px);
		margin-bottom: return-ems(26px,13px);
		@media (min-width:$break-4) {
			border-top:2px solid $color-white;
			float:left;
			padding-top: return-ems(13px,13px);
			width: 38.14%;
		}
	}
}
.hcard:not(:first-child) {
	margin-top: return-ems(26px,13px);
	.p-name {
		display: none;
		& + br {
			display: none;
		}
	}
}
.footer-logo {
	background: url(../_img/sprite-1x.png) no-repeat -130px 0;
	@include image-2x('../_img/sprite-2x.png', 250px, 500px);
	height: px-to-ems(27px);
	margin:0 auto px-to-ems(13px);
	position: relative;
	width:px-to-ems(78px);
	@media (min-width:$break-4) {
		height: px-to-ems(14px);
		margin: 0 0 px-to-ems(13px);
	}
	@media (min-width:$break-5) {
		background-position: 0 -80px;
		float:left;
		height: px-to-ems(26px);
		margin-bottom: 0;
		margin-right: px-to-ems(86px);
		width: px-to-ems(140px);
	}
	&:after {
		background: $color-white;
		content:'';
		display: block;
		height: px-to-ems(2px);
		position: absolute;
		bottom:0;
		left:px-to-ems(-49px);
		width:px-to-ems(176px);
		z-index:1;
		@media (min-width:$break-4) {
			display: none;
		}
	}
}
.footer-nav {
	@include center;
	border-top:2px solid $color-white;
	font-family: $font-stack-roboto-slab;
	font-size: px-to-ems(13px);
	line-height: return-ems(20px,13px);
	margin-bottom: return-ems(26px,13px);
	padding-top: return-ems(13px,13px);
	text-transform: uppercase;
	width:return-ems(176px,13px);
	ol {
		@include delist;
		li:not(:first-child) {
			margin-top:return-ems(6px,13px);
		}
	}
	@media (min-width:$break-4) {
		float:left;
		margin-left: 9.29%;
		width: 21.64%;
	}
	@media (min-width:$break-5) {
		a:hover {
			border-bottom: 2px solid $color-white;
		}
	}
}
.social-links {
	@include center;
	border-top:2px solid $color-white;
	padding-top: px-to-ems(13px);
	width:px-to-ems(176px);
	@media (min-width:$break-4) {
		float:left;
		margin-left: 9.29%;
		text-align: center;
		width: 21.64%;
	}
	ol {
		@include delist;
	}
	li {
		display: inline-block;
	}
	a {
		background: url(../_img/sprite-1x.png) no-repeat;
		@include image-2x('../_img/sprite-2x.png', 250px, 500px);
		display: block;
		height: px-to-ems(30px);
		overflow: hidden;
		text-indent: -999em;
		transition: .25s opacity ease-in;
		width: px-to-ems(32px);
		@media (min-width:$break-5) {
			&:hover {
				opacity: .7;
			}
		}
	}
	.facebook a {
		background-position: -177px -63px;
	}
	.twitter {
		margin-left:px-to-ems(8px);
		a {
			background-position: -218px -63px;
		}
	}
}

/* =Homepage
// ========================================================================== */
.hero-image {
	position: relative;
	z-index:2;
	img {
		max-width: none;
		width:100%;
	}
	.single-project-page & {
		background:$color-darker-grey;
		img {
			max-width: 100%;
			width: auto;
		}
		@media (min-width:$break-4) {
			text-align: center;
		}
		.hero-project {
			position: relative;
			@media (min-width:$break-4) {
				display: inline-block;
			}
			a {
				display: block;
				position: relative;
			}
			a:after {
				background: url(../_img/sprite-1x.png) no-repeat -103px -163px;
				@include image-2x('../_img/sprite-2x.png', 250px, 500px);
				content:'';
				height:px-to-ems(20px);
				width: px-to-ems(20px);
				position: absolute;
				top: px-to-ems(14px);
				right: px-to-ems(22px);
			}
		}
	}
}
.bio-page .hero-image {
	background: $color-darker-grey;
	/* figure out margin to move up image */
	@media (min-width:layout-ems(940px)) {
		padding: 0 calc(50% - 470px);
		img {
		//	margin-top:-65px;
		}
	}
}
.secondary-page {
	.hero-image {
		max-height:px-to-ems(400px);
		overflow: hidden;
	}
	&.bio-page .hero-image {
		max-height:px-to-ems(480px);
	}
}
.home-intro-content {
	background: $color-blue;
	color:$color-white;
	padding:px-to-ems(28px) 0 px-to-ems(33px);
	text-align: center;
	@media (min-width:$break-4) {
		padding:px-to-ems(62px) 0;
	}
	p {
		@include center;
		font-size: px-to-ems(12px);
		line-height: return-ems(20px,12px);
		max-width:return-ems(278px,12px);
		width:74%;
		@media (min-width:$break-4) {
			font-size: px-to-ems(13px);
			line-height: return-ems(20px,13px);
			width:return-ems(278px,13px);
		}
		@media (min-width:$break-5) {
			font-size: px-to-ems(15px);
			line-height: return-ems(20px,15px);
		}
	}
	.btn {
		@include center;
		background: transparent;
		border:2px solid $color-white;
		border-radius:5px;
		color: $color-white;
		display: block;
		font-family: $font-stack-roboto-slab;
		font-size: px-to-ems(15px);
		font-weight:700;
		height: return-ems(40px,15px);
		letter-spacing: .05em;
		line-height: return-ems(36px,15px);
		margin-top: return-ems(17px,15px);
		position: relative;
		text-align: center;
		text-transform: uppercase;
		transition: .25s ease-in;
		width: return-ems(160px,15px);
		&:hover {
			background: $color-white;
			border-color:$color-white;
			color: $color-blue;
		}
		@media (min-width:$break-4) {
			margin-top: return-ems(27px,15px);
		}
		@media (min-width:$break-5) {
			margin-top: return-ems(30px,15px);
		}
	}
}

/* =Secondary Pages
// ========================================================================== */
.two-column {
	@media (min-width:$break-4) {
		@include clearfix;
		position: relative;
		&:before {
			background: $color-blue;
			bottom:0;
			content: '';
			position: absolute;
			top:0;
			right:0;
			width:calc(100% - 68.085%);
			z-index:1;
		}
		.single-news-item &:before,
		.news-listing &:before,
		.contact-us &:before {
			display: none;
		}
	}
	@media (min-width:layout-ems(996px)) {
		&:before {
			left: calc(50% + 170px);
			width: auto;
		}
	}
}
.content-main {
	padding:px-to-ems(40px) px-to-ems(17px) px-to-ems(49px);
	@media (min-width:$break-4) {
		float: left;
		padding-left: px-to-ems(26px);
		padding-right: px-to-ems(50px);
		position: relative;
		width:68.085%;
		z-index:2;
	}
	@media (min-width:$break-4) and (max-width:layout-ems(959px)) {
		.news-listing & {
			width: calc(100% - 291px);
		}
	}
	@media (min-width:layout-ems(996px)) {
		padding-left:0;
		width: px-to-ems(640px);
	}
	p {
		font-size: px-to-ems(14px);
		line-height: return-ems(22px,14px);
		& + p {
			margin-top: return-ems(25px,14px);
		}
	}
}
.content-secondary {
	background: $color-blue;
	color: $color-white;
	padding:px-to-ems(48px) px-to-ems(35px);
	.news-listing & {
		background: transparent;
	}
	@media (max-width:layout-ems(767px)) {
		.single-news-item &,
		.news-listing &,
		.page-contact & {
			display: none;
		}
	}
	@media (min-width:$break-4) {
		float: right;
		position: relative;
		width:calc(100% - 68.085%);	
		z-index:2;
	}
	@media (min-width:$break-4) and (max-width:layout-ems(959px)) {
		.news-listing & {
			padding-left:0;
			padding-right: px-to-ems(26px);
			width:px-to-ems(291px);
		}
	}
	@media (min-width:layout-ems(996px)) {
		padding-right:0;
		width:px-to-ems(300px);
	}
	p {
		font-size: px-to-ems(14px);
		line-height: return-ems(22px,14px);
	}
	div {
		font-size: px-to-ems(14px);
	}
	div:not(.client) {
		margin-top: return-ems(16px,14px);
	}
}
.page-title {
	border-bottom: 2px solid $color-blue;
	color: $color-blue;
	font-family: $font-stack-roboto-slab;
	font-size:px-to-ems(32px);
	font-weight: 700;
	line-height: return-ems(40px,32px);
	margin-bottom: return-ems(22px,32px);
	padding-bottom: return-ems(20px,32px);
	@media (min-width:$break-4) {
		font-size:px-to-ems(36px);
		line-height: return-ems(44px,36px);
		margin-bottom: return-ems(24px,36px);
		padding-bottom: return-ems(22px,36px);
	}
}
.aside-heading {
	border-bottom: 2px solid $color-white;
	font-family: $font-stack-roboto-slab;
	font-size: px-to-ems(15px);
	font-weight: 700;
	letter-spacing: .05em;
	line-height: 1;
	margin-bottom:return-ems(18px,15px);
	padding-bottom: return-ems(17px,15px);
	text-transform: uppercase;
}
.section-heading {
	background: $color-grey;
	color: $color-white;
	font-family: $font-stack-roboto-slab;
	font-size:px-to-ems(15px);
	font-weight: 700;
	letter-spacing: .05em;
	line-height: return-ems(40px,15px);
	height: return-ems(40px,15px);
	padding:0 px-to-ems(17px);
	text-transform: uppercase;
	@media (min-width:$break-4) {
		padding:0 px-to-ems(26px);
	}
	@media (min-width:$break-5) {
		padding:0 px-to-ems(28px);
	}
	@media (min-width:layout-ems(996px)) {
		padding: 0 calc(50% - 470px);
	}
}
/* =Profile Page
// ========================================================================== */
.our-people {
	.wrapper {
		padding: px-to-ems(22px) px-to-ems(17px);
		@media (min-width:$break-2) {
			@include center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			&:after {
				content:'';
				display: block;
				margin-left: 48.38%;
			}
		}
		@media (min-width:$break-4) {
			padding-left: px-to-ems(26px);
			padding-right:px-to-ems(26px);
			&:after {
				margin-left:31.91%;
			}
		}
	}
}
.person {
	background: $color-blue;
	@include center;
	max-width: px-to-ems(300px);
	margin-bottom: px-to-ems(18px);
	@media (min-width:$break-2) {
		margin-left:0;
		margin-right: 0;
		max-width:none;
		width:48.38%;
	}
	@media (min-width:$break-4) {
		width:31.91%;
	}
	a {
		display: block;
	}
}

@supports (display: grid) {
	@media (min-width:$break-2) {
		.our-people .wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap:px-to-ems(18px);
			grid-row-gap:px-to-ems(18px);
		//	margin-bottom: px-to-ems(18px);
		}
		.our-people .wrapper:after {
			display:none;
		}
		.person {
			margin-bottom:0;
			width:auto;
		}
	}
	@media (min-width:$break-4) {
		.our-people .wrapper {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.bio-image {
	position: relative;
	figure {
		margin:0;
	}
	img {
		max-width: none;
		width:100%;
	}
	.casual-image {
		position: relative;
		transition:.25s opacity ease-in;
		z-index:1;
	}
	.professional-image {
		position: absolute;
		top:0;
		left:0;
		opacity:0;
		transition:.25s opacity ease-in;
	}
	span {
		background: $color-white;
		border-radius:return-ems(20px,15px);
		color:$color-blue;
		display: none;
		font-family: $font-stack-roboto-slab;
		font-size: px-to-ems(15px);
		font-weight: 700;
		letter-spacing: .05em;
		line-height: return-ems(40px,15px);
		height: return-ems(40px,15px);
		text-transform: uppercase;
		text-align: center;
		padding:0 return-ems(20px,15px);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width:return-ems(118px,15px);
		z-index:2;
	}
	.person a:hover & {
		.casual-image {
			opacity: 0;
		}
		.professional-image {
			opacity: 1;
			z-index:2;
		}
		span {
			display: inline-block;
		}
	}
}
.bio-info {
	color:$color-white;
	padding:px-to-ems(11px) px-to-ems(30px);
}
.bio-info h4,
.bio-title {
	font-size: px-to-ems(14px);
	font-weight: 400;
	line-height: return-ems(18px,14px);
}

/* =Bio Page
// ========================================================================== */
.bio-page {
	.page-title {
		h2 {
			font-size: 1em;
		}
	}
}
.page-subtitle {
	font-size: return-ems(15px,36px);
	line-height: return-ems(26px,15px);
	text-transform: uppercase;
}
.bio-section:not(.inspiration) {
	margin-top:px-to-ems(22px);
}
.bio-subheading {
	color: $color-blue;
	font-family: $font-stack-roboto-slab;
	font-size: px-to-ems(15px);
	font-weight: 700;
	line-height: return-ems(18px,15px);
	text-transform: uppercase;
}
.bio-section .body-copy {
	font-size: px-to-ems(14px);
	line-height: return-ems(22px,14px);
}
.weekend-image {
	margin-bottom: px-to-ems(36px);
}

/* =Project Listing Page
// ========================================================================== */
.project-listing {
	padding: px-to-ems(22px) px-to-ems(17px) px-to-ems(4px);
	@media (min-width:$break-2) {
		@include center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		&:after {
			content:'';
			display: block;
			margin-left: 48.38%;
		}
	}
	@media (min-width:$break-4) {
		padding-left: px-to-ems(26px);
		padding-right:px-to-ems(26px);
		&:after {
			margin-left:31.91%;
		}
	}
	@media (min-width:$break-5) {
		padding-left:px-to-ems(28px);
		padding-right:px-to-ems(28px);
	}
	@media (min-width:layout-ems(996px)) {
		padding-left:calc(50% - 470px);
		padding-right:calc(50% - 470px);
	}
}
.project {
	@include center;
	background: $color-blue;
	margin-bottom: px-to-ems(18px);
	max-width: px-to-ems(300px);
	@media (min-width:$break-2) {
		margin-left:0;
		margin-right: 0;
		max-width:none;
		width:48.38%;
	}
	@media (min-width:$break-4) {
		width:31.91%;
	}
	a {
		display: block;
	}
}
.project-image {
	background:$color-white;
	position: relative;
	span {
		background: $color-white;
		border-radius:return-ems(20px,15px);
		color:$color-blue;
		display: none;
		font-family: $font-stack-roboto-slab;
		font-size: px-to-ems(15px);
		font-weight: 700;
		letter-spacing: .05em;
		line-height: return-ems(40px,15px);
		height: return-ems(40px,15px);
		text-transform: uppercase;
		text-align: center;
		padding:0 return-ems(20px,15px);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;
	}
	img {
		width:100%;
	}
	.project a:hover &,
	.bio-project & a:hover {
		img {
			opacity: .5;
		}
		span {
			display: inline-block;
		}
	}
}
@supports (display: grid) {
	@media (min-width:$break-2) {
		.project-listing {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap:px-to-ems(18px);
			grid-row-gap:px-to-ems(18px);
			margin-bottom: px-to-ems(18px);
		}
		.project-listing:after {
			display:none;
		}
		.project {
			margin-bottom:0;
			width:auto;
		}
	}
	@media (min-width:$break-4) {
		.project-listing {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.project-title {
	color:$color-white;
	min-height: px-to-ems(58px);
	padding:px-to-ems(11px) px-to-ems(30px);
}
.project-title h4 {
	font-size: px-to-ems(14px);
	font-weight: 400;
	line-height: return-ems(18px,14px);
}
.single-project-page #content {
	@media (min-width:$break-5) {
		&:before {
			background: $color-darker-grey;
			content: '';
			position: absolute;
			top:0;
			left:0;
			right:0;
			height:px-to-ems(400px);
			z-index:1;
		}
	}
}
.hero-carousel {
	margin-bottom: px-to-ems(30px);
	position: relative;
	z-index:3;
	@media (min-width:layout-ems(660px)) {
		margin-bottom: 0;
	}
	ol {
		@include delist;
	}
	img {
		max-width: none;
		width: 100%;
	}
	.slick-slide {
		@media (min-width:layout-ems(660px)) {
			&:not(.slick-current) a {
				cursor: default;
				pointer-events: none;
			}
		}
	}
	.slick-current,
	.hero-project.display-one {
		position: relative;
		a {
			display: block;
			position: relative;
		}
		img {
			display: block;
			position: relative;
			z-index:1;
		}
		a:after {
			background: url(../_img/sprite-1x.png) no-repeat -103px -163px;
			@include image-2x('../_img/sprite-2x.png', 250px, 500px);
			content:'';
			height:px-to-ems(20px);
			width: px-to-ems(20px);
			position: absolute;
			top: px-to-ems(14px);
			right: px-to-ems(22px);
			z-index:2;
		}
	}
	.slick-arrow {
		background: url(../_img/sprite-1x.png) no-repeat -1px -148px;
		@include image-2x('../_img/sprite-2x.png', 250px, 500px);
		border:0;
		position: absolute;
		height: px-to-ems(50px);
		overflow: hidden;
		outline:none;
		padding:0;
		text-indent: -999em;
		top:50%;
		margin-top: px-to-ems(-25px);
		width:px-to-ems(30px);
		z-index:2;
		@media (min-width:layout-ems(660px)) {
			background: transparent;
			bottom:0;
			height: 100%;
			top:0;
			margin-top:0;
			width:calc(50% - 250px);
		}
		@media (min-width:$break-4) {
			width: calc(50% - 298px);
		}
	}
	.slick-prev {
		background-position: -1px -148px;
		left:px-to-ems(22px);
		@media (min-width:layout-ems(660px)) {
			left:0;
			&:after {
				background: url(../_img/sprite-1x.png) no-repeat -1px -148px;
				@include image-2x('../_img/sprite-2x.png', 250px, 500px);
				content:'';
				height: px-to-ems(50px);
				top:50%;
				left:px-to-ems(22px);
				margin-top:px-to-ems(-25px);
				position: absolute;
				width:px-to-ems(30px);
			}
		}
	}
	.slick-next {
		background-position: -60px -148px;
		right:px-to-ems(22px);
		@media (min-width:layout-ems(660px)) {
			right:0;
			&:after {
				background: url(../_img/sprite-1x.png) no-repeat -60px -148px;
				@include image-2x('../_img/sprite-2x.png', 250px, 500px);
				content:'';
				height: px-to-ems(50px);
				top:50%;
				right:px-to-ems(22px);
				margin-top:px-to-ems(-25px);
				position: absolute;
				width:px-to-ems(30px);
			}
		}
	}
	.slick-dots {
		position: absolute;
		bottom:px-to-ems(-30px);
		@include delist;
		text-align: center;
		left:0;
		right:0;
		@media (min-width:layout-ems(660px)) {
			bottom:px-to-ems(20px);
		}
		li {
			display: inline-block;
		}
		li:not(:first-child) {
			margin-left: px-to-ems(14px);
		}
		button {
			background:$color-white;
			border:2px solid $color-blue;
			border-radius:50%;
			display: block;
			height: px-to-ems(14px);
			width:px-to-ems(14px);
			overflow: hidden;
			padding:0;
			text-indent: -999em;
			@media (min-width:$break-4) {
				background:$color-blue;
				border-color:$color-white;
			}
		}
		.slick-active button {
			background: $color-blue;
			@media (min-width:$break-4) {
				background: $color-white;
			}
		}
	}
	@media (min-width:layout-ems(660px)) {
		.slick-list {
			padding:0 calc(50% - 250px) !important;
		}
		.slick-slide img {
			transition: .25s opacity ease-in;
		}
		.slick-slide:not(.slick-current) img {
			opacity:.6;
			
		}
		
	}
	@media (min-width:$break-4) {
		margin: 0 auto;
		height: px-to-ems(400px);
		max-width:px-to-ems(1788px);
		overflow: hidden;
		width:100%;
		.slick-list {
			padding:0 calc(50% - 298px) !important;
		}		
	}
	
}
.project-development {
	padding-bottom: px-to-ems(55px);
	@media (min-width:$break-4) {
		padding-bottom: 0;
	}
}
.projects-carousel,
.bio-projects-carousel {
	@include delist;
	padding: px-to-ems(20px) px-to-ems(75px);
	position: relative;
	@media (min-width:$break-4) {
		padding:px-to-ems(20px) px-to-ems(75px);
	}
	@media (min-width:layout-ems(1040px)) {
		margin:0 auto;
		width:px-to-ems(1040px);
	}
	img {
		max-width: none;
		width:100%;
	}
	.slick-slide {
		padding:0 px-to-ems(10px);
	}
	.slick-arrow {
		background: url(../_img/sprite-1x.png) no-repeat -1px -148px;
		@include image-2x('../_img/sprite-2x.png', 250px, 500px);
		border:0;
		position: absolute;
		height: px-to-ems(50px);
		overflow: hidden;
		outline:none;
		padding:0;
		text-indent: -999em;
		top:50%;
		margin-top: px-to-ems(-25px);
		width:px-to-ems(30px);
		z-index:2;
	}
	.slick-prev {
		background-position: -1px -148px;
		left:px-to-ems(22px);
		@media (min-width:layout-ems(1040px)) {
			left:0;
		}
	}
	.slick-next {
		background-position: -60px -148px;
		right:px-to-ems(22px);
		@media (min-width:layout-ems(1040px)) {
			right:0;
		}
	}
	.slick-dots {
		position: absolute;
		bottom:px-to-ems(-30px);
		@include delist;
		text-align: center;
		left:0;
		right:0;
		@media (min-width:$break-4) {
			bottom:px-to-ems(20px);
		}
		li {
			display: inline-block;
		}
		li:not(:first-child) {
			margin-left: px-to-ems(14px);
		}
		button {
			background:$color-white;
			border:2px solid $color-blue;
			border-radius:50%;
			display: block;
			height: px-to-ems(14px);
			width:px-to-ems(14px);
			overflow: hidden;
			padding:0;
			text-indent: -999em;
			@media (min-width:$break-4) {
				background:$color-blue;
				border-color:$color-white;
			}
		}
		.slick-active button {
			background: $color-blue;
			@media (min-width:$break-4) {
				background: $color-white;
			}
		}
	}
}
.project-dev {
	position: relative;
	a {
		display: block;
		&:hover {
			img {
				opacity: .5;
			}
			&:after {
				background: url(../_img/sprite-1x.png) no-repeat -208px -153px;
				@include image-2x('../_img/sprite-2x.png', 250px, 500px);
				content:'';
				height:px-to-ems(40px);
				width: px-to-ems(40px);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
#modal {
	background:rgba(0,0,0,.85);
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:100;
	.close-btn {
		background: url(../_img/sprite-1x.png) no-repeat -140px -153px;
		@include image-2x('../_img/sprite-2x.png', 250px, 500px);
		cursor: pointer;
		display: block;
		height: px-to-ems(42px);
		width:px-to-ems(42px);
		position: absolute;
		right:px-to-ems(28px);
		top:px-to-ems(28px);
		z-index:5;
	}
	.wrapper {
		max-height: 100vh;
		overflow-y: scroll;
	
	}
	figure {
		margin:px-to-ems(28px) auto;
		max-width:85vw;
	}
	figcaption {
		color: $color-white;
		font-size: px-to-ems(14px);
		line-height: return-ems(20px,14px);
		margin-top: return-ems(20px,14px);
	}
}
/* =News Listing
// ========================================================================== */
.single-news-item,
.page-contact {
	@media (min-width:$break-4) {
		#content {
			position: relative;
			&:before {
				background: $color-blue;
				bottom:0;
				content: '';
				position: absolute;
				top:0;
				right:0;
				width:31.915%;
				z-index:1;
			}
		}
	}
	@media (min-width:$break-5) {
		#content {
			&:before {
				width:calc(50% - 170px);
			}
		}
	}
}
.news-item {
	margin-bottom: px-to-ems(44px);
	h3 {
		color: $color-blue;
		font-family: $font-stack-roboto-slab;
		font-size: px-to-ems(24px);
		font-weight: 700;
		margin-bottom: px-to-ems(12px,24px);
		a:hover {
			text-decoration: underline;
		}
	}
}
.excerpt p {
	margin-right:return-ems(8px,15px);
}
.read-full-article {
	color: $color-blue;
	display: block;
	font-size: px-to-ems(14px);
	line-height: return-ems(22px,14px);
	text-align: right;
	&:hover {
		text-decoration: underline;
	}
}
.posting-date {
	color:$color-grey;
	font-family: $font-stack-roboto-slab;
	font-size: px-to-ems(13px);
	font-weight: 200;
	line-height: 1;
	margin-bottom: return-ems(18px,13px);
	position: relative;
	text-transform: uppercase;
	span {
		background: $color-light-grey;
		display: inline-block;
		padding-right:return-ems(10px,20px);
		position: relative;
		z-index:3;
	}
	&:after {
		background: $color-grey;
		content: '';
		display: block;
		height: return-ems(1px,13px);
		position: absolute;
		top:51%;
		width:100%;
		z-index:1;
	}
}
.news-image {
	margin-bottom: px-to-ems(12px);
}
.pagination {
	border-top:2px solid $color-blue;
	font-size: px-to-ems(16px);
	padding-top: return-ems(9px,16px);
	text-align: center;
	@media (min-width:$break-5) {
		text-align: right;
	}
	.current {
		color: $color-grey;
	}
	span {
		display: inline-block;
		height: return-ems(46px,16px);
		line-height: return-ems(46px,16px);
		width:return-ems(46px, 16px);
		text-align: center;
		@media (min-width:$break-5) {
			height: return-ems(16px,16px);
			line-height: return-ems(16px,16px);
			width:return-ems(24px,16px);
		}
	}
	a {
		color: $color-blue;
		display: inline-block;
		height: return-ems(46px,16px);
		line-height: return-ems(46px,16px);
		width:return-ems(46px, 16px);
		text-align: center;
		@media (min-width:$break-5) {
			height: return-ems(16px,16px);
			line-height: return-ems(16px,16px);
			width:return-ems(24px,16px);
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

/* =Contact Page
// ========================================================================== */
form {
	label {
		display: block;
		font-size:px-to-ems(15px);
		line-height: return-ems(21px,15px);
		margin-bottom: return-ems(4px,15px);
	}
	ul {
		@include delist;
		li {
			margin-bottom: return-ems(10px,15px);
		}
	}
	li {
		font-size:px-to-ems(15px);
		line-height: return-ems(21px,15px);
		margin-bottom: return-ems(15px,15px);
	}
	.submit {
		margin-top: return-ems(25px,15px);
	}
	input[type=text],
	input[type=email] {
		border:1px solid $color-grey;
		padding:return-ems(6px,15px);
		width:100%;
	}
	textarea {
		border:1px solid $color-grey;
		height: return-ems(138px,15px);
		padding:return-ems(6px,15px);
		width:100%;
	}
	button {
		background: transparent;
		border:2px solid $color-blue;
		border-radius:5px;
		color: $color-blue;
		display: block;
		font-family: $font-stack-roboto-slab;
		font-size: px-to-ems(15px);
		font-weight:700;
		height: return-ems(40px,15px);
		letter-spacing: .05em;
		line-height: return-ems(36px,15px);
		margin-top: return-ems(17px,15px);
		padding:0;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		transition: .25s ease-in;
		width: return-ems(160px,15px);
		&:hover {
			background:$color-blue;
			color: $color-white;
		}
	}
}
.wpcf7-mail-sent-ok {
	background:#ccc;
	border:0 !important;
	font-size:px-to-ems(15px);
	line-height: return-ems(21px,15px);
	margin: return-ems(50px,15px) 0 0 !important;
	padding:return-ems(10px,15px) !important;
}
div.wpcf7-validation-errors {
	background:red;
	border-color:red !important;
	color:white;
	font-size:px-to-ems(15px);
	line-height: return-ems(21px,15px);
	margin: return-ems(50px,15px) 0 0 !important;
	padding:return-ems(10px,15px) !important;
}
/* =Slick
// ========================================================================== */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    min-height: 1px;
    outline:none;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}